name: Publish Windows Maui

on:
   workflow_dispatch: # This triggers the workflow manually

jobs:
  build:

    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
 

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
          # cd "$currentPath"
    - name: Publish App
      run: |
            dotnet publish -f net10.0-windows10.0.19041.0 -c Release -p:RuntimeIdentifierOverride=win10-x64 -p:WindowsPackageType=None -p:WindowsAppSDKSelfContained=true -p:PublishSingleFile=true --self-contained true -p:PublishTrimmed=true -p:TrimMode=partial
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        path: SampleApp/bin/Release/net8.0-windows10.0.19041.0/win10-x64/publish/SampleApp.exe


